@use '../config/' as *;

.l-footer {
    padding-top: 72px;
    padding-bottom: 16px;
}

.l-footer__inner {
    justify-content: space-between;
    flex-direction: column;
}

.l-footer__logo {
    text-align: center;
    max-width: 300px;
    @include mq('lg'){
        text-align: unset;
    }
}

.l-footer__lists {
    margin-top: 32px;
    gap:24px;
    text-align: center;
    flex-wrap: wrap;
    @include mq('lg'){
        text-align: unset;
    }
}

.l-footer__list {
    text-transform: uppercase;
    font-weight: var(--bold);
}
.l-footer__list a{
    &:hover{
        opacity: 0.6;
    }
}

.l-footer__info {
    margin-top: 80px;
    @include mq('lg'){
        margin-top: 0;
    }
}

.l-footer__wrap {
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #333;
    padding-bottom: 6px;
    flex-direction: row;
    max-width: 400px;
}

.l-footer__company {
    color: var(--text-main);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height:normal;
    &:hover{
        opacity: 0.6;
    }
}
.l-footer__company span {
    display: block;
    font-size: 13px;
    letter-spacing: 1.04px;
    line-height:normal
}
.l-footer__social {
    gap: 12px;
    flex-direction: row;
    a{
        &:hover{
            opacity: 0.6;
        }
    }
}


.l-footer__access{
    margin-top: 16px;
    gap: 12px;
    @include mq('lg'){
        flex-direction: column;
    }
}
.l-footer__access dt,dd{
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: 1.2px;
}
.l-footer__access dt {
    min-width: 64px;
    font-family: var(--bold);
}
.l-footer__access dd{
    word-break: keep-all;
    @include mq('lg'){
        word-break: normal;
    }
}
.l-footer__access .flex {
    gap: 34px;
    flex-direction: row;
}

.l-footer__bottom {
    text-align: center;
    margin-top: 66px;
}
