@use "../config/" as *;

.l-inner {
  width: min(calc(rm($pc-inner) + rm($pc-sidePadding) * 2), 100%);
  padding-inline: rm(40);
  margin-inline: auto;

  @include mq("md") {
    padding-inline: rm($sp-sidePadding);
  }
}

.l-inner--narrow {
  width: min(calc(rm($pc-narrow-inner) + rm($pc-sidePadding) * 2), 100%);
}
